body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.options {
    position: relative;
    width: 80vw;
    height: calc(80vw * (22/780));
    top: calc(80vw * (-30/780));
    background-color: lightblue;
    margin: 5px;
}

#scenarioSelector { 
    margin-left: 5px; 
    padding: 0; 
}

.court {
    position: relative;
    width: 80vw; /*780px; 78 feet */
    height: calc(80vw * (360/780)); /* 360px; 36 feet */
    background-color: green;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 0px;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.service-boxes {
    position: absolute;
    width: calc(80vw * (420/780));
    height: calc(80vw * (272/780));
    border: 2px solid white;
    top: calc(80vw * (44/780)); 
    left: calc(80vw * (180/780));
    box-sizing: border-box;
    padding: 0px;
}

.net {
    position: absolute;
    width: 0;
    height: calc(80vw *(420/780));
    border-left: 2px solid white;
    left: 40vw; /* Half the court width */
    top: calc(80vw * (-30/780));
}

.doubles-alley {
    position: absolute;
    width: 80vw;
    height: calc(80vw * (272/780));
    border: 2px solid white;
    box-sizing: border-box;
    padding: 0px;
    top: calc(80vw * (44/780));
    left: -2px;
}

.center-line {
    position: absolute;
    width: calc(80vw * (420/780)); /* Matches the court width */
    height: 0;
    border-top: 2px solid white;
    top: calc(80vw *(180/780)); /* Half the court height */
    left: calc(80vw *(180/780));
    box-sizing: border-box;
    padding: 0px;
}


#court {
    position: relative;
}

#hitter {
    position: absolute;
    width: calc(80vw *(20/780));
    height: calc(80vw *(30/780));
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    left: calc(80vw *(100/780));
    top: calc(80vw *(165/780));
}

#returner {
    position: absolute;
    width: calc(80vw *(20/780));
    height: calc(80vw *(40/780));
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    left: calc(80vw *(450/780));
    top: calc(80vw *(160/780));

}

#handednessToggle { 
    margin: 3px; 
}
